@import 'abstracts/variables';
@import './fonts';

html {
  font-size: 65%;
}

body {
  vertical-align: baseline;
  max-width: 100%;
  font-family: $project-font;
  overflow: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $project-font;
  font-weight: 700;
  text-decoration: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color:inherit;
  text-decoration:none; 
  cursor: pointer;
}

p {
  font-weight: 700;
  color: $anti-flash-white;
}

