.form-container {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 100px;
  overflow: auto;
  font-size: 13px;
}

.left-container {
  position: inherit;
  margin: 20px auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.right-container {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  background: darken($bright-gray, 20%);
}

form {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
  width: 100%;
}

label {
  white-space: nowrap;
  margin: auto 10px;
  text-align: center;     
}

textarea.input {
  resize: vertical;
}
