.session-header {
  margin: 20px auto;
  background-color: $charcoal;
  color: $anti-flash-white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  width: 768px;
  max-width: 100%;
  overflow: auto;
  font-size: 15px;
  //padding: 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}