= form.text_field :TRELLO_API_KEY, placeholder: "TRELLO_API_KEY"
= form.text_field :TRELLO_API_TOKEN, placeholder: "TRELLO_API_TOKEN"  
= form.submit "Get Trello Cards", class: 'form-btn'
= link_to t('My Board'), trello_boards_path, class: 'form-btn'