// Colours
$blue-jeans:          #5ea5ee;
$charcoal:            #343951;
$davy-grey:           #5c5c5c;
$bright-gray:         #e4ebef;
$anti-flash-white:    #f3f4f5;

// Sizes

//Configurations
.half {
 width: 50%;
}
.full {
  width: 100%
}
.y-center {
  top: 50%;
}

.x-center {
  left: 50%;
}

.top {
  top:0;
}