// the below is simply an example of how to implement generic buttons in the website

.card-btn {
  display: flex;
  right: 0;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 150ms linear;
  text-align: center;
  text-decoration: none !important;
  background-color: $blue-jeans;
  white-space: nowrap;
  color: #fff;
  border-radius: 20px;
  font-family: inherit;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  height: initial;
  &:hover {
    transition: all 150ms linear;
    background: darken($blue-jeans, 20%);
  }
}

.form-btn {
  background-color: $charcoal;
  color: $anti-flash-white !important;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 80%;
  text-align: center;
  cursor: pointer;  
}

.foot-btn {
  // right: 0;
  // cursor: pointer;
  // text-align: center;
  // text-decoration: none !important;
  // background-color: $anti-flash-white;
  // white-space: nowrap;
  // color: $charcoal;
  // font-family: inherit;
  // justify-content: center;
  // align-items: center;
  // height: initial;
}