// the below is simply an example of how to implement generic buttons in the website

.card-btn {
  background-color: $blue-jeans;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 1000;
  height: inherit;
  line-height: 0px;
  //list-style: none;
  //outline: none;
  padding: 20px 40px;
  position: relative;
  right: 0;
  //margin: 0 20px 20px 0;
  text-align: center;
}

// .horizontal-scroll {
//   background: 0 0;
//   appearance: none;
//   border: none;
//   position: absolute;
//   top: 0;
//   height: 100%;
//   width: 70px;
//   cursor: pointer;
//   z-index: 11;
//   transition: opacity .4s linear,transform .4s ease-in-out,visibility 0s linear;
//   transition-property: opacity, transform, visibility;
//   transition-duration: 0.4s, 0.4s, 0s;
//   transition-timing-function: linear, ease-in-out, linear;
//   transition-delay: 0s, 0s, 0s;
// }